body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    margin-left: 50px;
}
#btn{
    background-color: white;
    width: 20%;
    height: 2rem;
}
input{
    width: 30%;
}